@import url("https://fonts.googleapis.com/css?family=Droid+Serif");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
/* line 5, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../components/sass/_base.scss */
body {
  font-family: Droid Serif, serif;
  font-size: 1.4rem;
  line-height: 160%;
  color: #000;
}

/* line 12, ../components/sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Droid Serif, serif;
  font-size: 1.2rem;
  font-weight: lighter;
  color: #819090;
}

/* line 19, ../components/sass/_base.scss */
h1 {
  font-size: 3rem;
  font-weight: normal;
  color: #fff;
}

/* line 25, ../components/sass/_base.scss */
h2 {
  font-size: 1.5rem;
  color: #829191;
}

/* line 30, ../components/sass/_base.scss */
h3 {
  font-size: 1rem;
  margin-bottom: 30px;
  border-bottom: 1px solid #829191;
  padding-bottom: 6px;
}

/* line 37, ../components/sass/_base.scss */
h4 {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

/* line 43, ../components/sass/_base.scss */
h6 {
  color: #000;
}

/* line 47, ../components/sass/_base.scss */
a {
  text-decoration: none;
  color: #703572;
  font-size: 1.4rem;
}
/* line 52, ../components/sass/_base.scss */
a:hover {
  color: #60c659;
}

/* line 57, ../components/sass/_base.scss */
p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

/* line 14, ../../../../../../var/lib/gems/1.9.1/gems/susy-2.2.6/sass/susy/language/susyone/_grid.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 16, ../components/sass/_layout.scss */
.layout {
  *zoom: 1;
  max-width: 61em;
  _width: 61em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.layout:after {
  content: "";
  display: table;
  clear: both;
}
/* line 19, ../components/sass/_layout.scss */
.layout .splash-image {
  height: 100%;
  text-align: center;
}
/* line 23, ../components/sass/_layout.scss */
.layout .splash-image a {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 30%;
  max-width: 150px;
  padding: 2.5% 4% 2.5% 4%;
  background: #703572;
  font-size: 1.2rem;
  color: #fff;
}
/* line 32, ../components/sass/_layout.scss */
.layout .splash-image a:hover {
  background: #60c659;
  color: #fff;
}
/* line 39, ../components/sass/_layout.scss */
.layout .description {
  margin: 50px 0px;
  font-weight: lighter;
  font-style: italic;
}
/* line 44, ../components/sass/_layout.scss */
.layout .description .seen-on {
  display: flex;
  padding-top: 50px;
  padding-bottom: 40px;
  width: 100%;
  max-width: 800px;
  margin: auto;
  justify-content: center;
  align-items: flex-end;
}
/* line 56, ../components/sass/_layout.scss */
.layout .webinar-details {
  margin: 50px 0;
}
/* line 60, ../components/sass/_layout.scss */
.layout .webinar-description {
  margin-bottom: 50px;
}
/* line 63, ../components/sass/_layout.scss */
.layout .webinar-description h4 {
  color: #703572;
  font-size: 1.4rem;
  font-weight: lighter;
  line-height: normal;
  padding-bottom: .8rem;
}
/* line 71, ../components/sass/_layout.scss */
.layout .webinar-description ul {
  padding-left: 1em;
}
/* line 74, ../components/sass/_layout.scss */
.layout .webinar-description ul li {
  list-style: disc;
  font-size: 1.1rem;
  line-height: 1.2rem;
  padding-bottom: .4rem;
}
/* line 80, ../components/sass/_layout.scss */
.layout .webinar-description ul li span {
  position: relative;
  left: -5px;
}
/* line 87, ../components/sass/_layout.scss */
.layout .webinar-description p {
  font-weight: lighter;
}
/* line 91, ../components/sass/_layout.scss */
.layout .webinar-description a {
  text-decoration: underline;
}
/* line 96, ../components/sass/_layout.scss */
.layout .webinar-date-grid {
  justify-content: center;
}
/* line 99, ../components/sass/_layout.scss */
.layout .webinar-date-grid .date-group {
  width: 200px;
}
/* line 102, ../components/sass/_layout.scss */
.layout .webinar-date-grid .date-group .sold-out {
  display: none;
}

/* line 110, ../components/sass/_layout.scss */
.banner {
  display: flex;
  width: 100%;
  height: 500px;
  background: #c8c8c8;
  justify-content: center;
  align-items: center;
}
@media (min-width: 47em) {
  /* line 110, ../components/sass/_layout.scss */
  .banner {
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
    transition: all 1s ease-in;
    width: 70%;
    max-width: 1000px;
    margin: auto;
  }
}

/* line 136, ../components/sass/_layout.scss */
.ready {
  width: 100%;
}
/* line 139, ../components/sass/_layout.scss */
.ready img {
  display: block;
  width: 250px;
  margin: auto;
}
/* line 145, ../components/sass/_layout.scss */
.ready .story-header {
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  background: #00b59b;
  padding: 25px;
  margin-bottom: 10px;
  color: #fff;
  font-weight: bold;
  line-height: 110%;
  font-size: 1.5rem;
}
/* line 155, ../components/sass/_layout.scss */
.ready .story-header:hover {
  background: #60c659;
  color: #fff;
  cursor: pointer;
}
/* line 161, ../components/sass/_layout.scss */
.ready .story-header.active {
  background: #60c659;
  color: #fff;
}
/* line 165, ../components/sass/_layout.scss */
.ready .story-header.active:hover {
  background: #00b59b;
  color: #fff;
  cursor: pointer;
}
/* line 173, ../components/sass/_layout.scss */
.ready .story-content {
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  display: none;
  min-height: 260px;
  background: #00b59b;
  padding: 20px 30px;
  margin-bottom: 40px;
  line-height: 110%;
}
/* line 183, ../components/sass/_layout.scss */
.ready .story-content p {
  color: #703572;
  font-size: 1.2rem;
}
/* line 188, ../components/sass/_layout.scss */
.ready .story-content a {
  color: #703572;
  text-decoration: underline;
  font-size: 1rem;
}
/* line 193, ../components/sass/_layout.scss */
.ready .story-content a:hover {
  color: #fff;
}
/* line 198, ../components/sass/_layout.scss */
.ready .story-content img {
  display: block;
  width: 200px;
  height: auto;
  margin-bottom: 10px;
}
/* line 205, ../components/sass/_layout.scss */
.ready .story-content.active {
  display: block;
}
@media (min-width: 47em) {
  /* line 136, ../components/sass/_layout.scss */
  .ready {
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
    transition: all 1s ease-in;
    width: 70%;
    margin: auto;
  }
  /* line 215, ../components/sass/_layout.scss */
  .ready img.right {
    float: right;
    margin-left: 20px;
  }
  /* line 220, ../components/sass/_layout.scss */
  .ready img.left {
    float: left;
    margin-right: 20px;
  }
  /* line 225, ../components/sass/_layout.scss */
  .ready .story-content {
    padding: 30px 40px;
  }
}
@media (min-width: 85em) {
  /* line 136, ../components/sass/_layout.scss */
  .ready {
    width: 100%;
  }
  /* line 233, ../components/sass/_layout.scss */
  .ready .story-header {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    margin-right: 44.94382%;
  }
  /* line 237, ../components/sass/_layout.scss */
  .ready .story-header.active {
    margin-right: 5.61798%;
    margin-bottom: 150px;
  }
  /* line 243, ../components/sass/_layout.scss */
  .ready .story-content {
    width: 57.62712%;
    float: right;
    margin-right: 0;
    min-height: 300px;
    padding: 50px 75px;
  }
}

@media (min-width: 47em) {
  /* line 252, ../components/sass/_layout.scss */
  .webinar-choices {
    margin: 0 5%;
  }
  /* line 256, ../components/sass/_layout.scss */
  .webinar-choices .webinar {
    width: 48.97959%;
    float: left;
    margin-right: 2.04082%;
    height: 350px;
    line-height: 350px;
  }
  /* line 262, ../components/sass/_layout.scss */
  .webinar-choices .webinar:nth-of-type(2) {
    float: right;
    margin-right: 0;
  }
}

/* line 269, ../components/sass/_layout.scss */
.navigation {
  width: 100%;
  height: auto;
  background: #00b59b;
  padding: 15px 0px 15px 0;
}
/* line 275, ../components/sass/_layout.scss */
.navigation .hero {
  margin-bottom: 2rem;
}
@media (min-width: 85em) {
  /* line 275, ../components/sass/_layout.scss */
  .navigation .hero {
    width: 28.57143%;
    float: left;
    margin-right: 7.14286%;
  }
}
@media (min-width: 30em) {
  /* line 282, ../components/sass/_layout.scss */
  .navigation ul.nav {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    *zoom: 1;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  /* line 62, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
  .navigation ul.nav li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    float: left;
    padding-left: 4px;
    padding-right: 4px;
  }
  /* line 49, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
  .navigation ul.nav li:first-child {
    padding-left: 0;
  }
  /* line 50, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
  .navigation ul.nav li:last-child {
    padding-right: 0;
  }
  /* line 52, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
  .navigation ul.nav li.last {
    padding-right: 0;
  }
  /* line 287, ../components/sass/_layout.scss */
  .navigation ul.nav li {
    display: block;
    padding-right: .5em;
    padding-left: 0;
    padding-top: .4em;
    padding-bottom: .4em;
    line-height: 180%;
  }
}
@media (min-width: 85em) {
  /* line 282, ../components/sass/_layout.scss */
  .navigation ul.nav {
    float: right;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
  }
}
/* line 302, ../components/sass/_layout.scss */
.navigation ul.nav li {
  padding-top: .2em;
}
/* line 305, ../components/sass/_layout.scss */
.navigation ul.nav li:nth-of-type(5) {
  padding-right: 0;
}
/* line 308, ../components/sass/_layout.scss */
.navigation ul.nav li:nth-of-type(5) a {
  display: block;
  padding: 0;
  height: 40px !important;
}
/* line 313, ../components/sass/_layout.scss */
.navigation ul.nav li:nth-of-type(5) a:hover {
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  background-color: transparent;
}
/* line 319, ../components/sass/_layout.scss */
.navigation ul.nav li:nth-of-type(5) img {
  width: 40px;
  height: 40px;
  padding: 5px;
}
/* line 324, ../components/sass/_layout.scss */
.navigation ul.nav li:nth-of-type(5) img:hover {
  background-color: #703572;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 332, ../components/sass/_layout.scss */
.navigation ul.nav a {
  padding: 5px 10px;
}
/* line 335, ../components/sass/_layout.scss */
.navigation ul.nav a:hover {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  background-color: #703572;
}

/* line 349, ../components/sass/_layout.scss */
.socialmediaicons ul li {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 354, ../components/sass/_layout.scss */
.socialmediaicons ul li:last-child {
  margin-left: 5px;
}
/* line 358, ../components/sass/_layout.scss */
.socialmediaicons ul li img {
  width: 50px;
}

/* line 366, ../components/sass/_layout.scss */
footer {
  color: #000;
  background: #00b59b;
  margin-top: 100px;
  padding-top: 20px;
  padding-bottom: 100px;
}
@media (min-width: 30em) {
  /* line 366, ../components/sass/_layout.scss */
  footer {
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  /* line 376, ../components/sass/_layout.scss */
  footer .copy {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 380, ../components/sass/_layout.scss */
  footer .socialmediaicons {
    display: block;
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
  /* line 384, ../components/sass/_layout.scss */
  footer .socialmediaicons ul {
    float: right;
  }
}
@media (min-width: 47em) {
  /* line 366, ../components/sass/_layout.scss */
  footer {
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  /* line 393, ../components/sass/_layout.scss */
  footer .copy {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 397, ../components/sass/_layout.scss */
  footer .socialmediaicons {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 399, ../components/sass/_layout.scss */
  footer .socialmediaicons ul {
    width: 111px;
    margin: auto;
    float: none;
  }
  /* line 406, ../components/sass/_layout.scss */
  footer .paymentmethods {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
}
/* line 411, ../components/sass/_layout.scss */
footer .copy {
  font-size: 1rem;
  padding-top: 10px;
  line-height: 130%;
}
/* line 417, ../components/sass/_layout.scss */
footer a:hover {
  color: #fff;
}
/* line 424, ../components/sass/_layout.scss */
footer .paymentmethods ul {
  float: left;
}
/* line 428, ../components/sass/_layout.scss */
footer .paymentmethods ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-top: 5px;
  margin-right: 5px;
}
/* line 435, ../components/sass/_layout.scss */
footer .paymentmethods ul li img {
  width: 50px;
}

/* line 2, ../components/sass/_modules.scss */
.cardgrid {
  overflow: hidden;
  *zoom: 1;
  width: 30%;
  max-width: 120px;
}
/* line 7, ../components/sass/_modules.scss */
.cardgrid ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 62, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
.cardgrid ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 49, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
.cardgrid ul li:first-child {
  padding-left: 0;
}
/* line 50, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
.cardgrid ul li:last-child {
  padding-right: 0;
}
/* line 52, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
.cardgrid ul li.last {
  padding-right: 0;
}
/* line 10, ../components/sass/_modules.scss */
.cardgrid ul li {
  display: inline-block;
}
/* line 13, ../components/sass/_modules.scss */
.cardgrid ul li img {
  width: 50px;
  height: 25px;
  margin: .2rem;
}

/* line 23, ../components/sass/_modules.scss */
.webinar {
  overflow: hidden;
  *zoom: 1;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  width: 100%;
  height: 300px;
  background: #c8c8c8;
  margin: auto;
  margin-bottom: 40px;
  text-align: center;
  line-height: 300px;
}
/* line 36, ../components/sass/_modules.scss */
.webinar a {
  display: block;
  font-size: 2.2rem;
  font-weight: lighter;
}
/* line 41, ../components/sass/_modules.scss */
.webinar a:hover {
  background: #703572;
  opacity: .6;
  color: #fff;
}

/* line 50, ../components/sass/_modules.scss */
#tiffanyImage {
  display: block;
  width: 60%;
  height: auto;
  max-width: 400px;
  max-height: 400px;
  margin: auto;
  margin-bottom: 50px;
}

/* line 61, ../components/sass/_modules.scss */
.storycontainer {
  width: 100%;
}
/* line 64, ../components/sass/_modules.scss */
.storycontainer img {
  display: block;
  width: 250px;
  margin: auto;
}
/* line 70, ../components/sass/_modules.scss */
.storycontainer .story-header {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: #00b59b;
  padding: 25px;
  color: #703572;
  font-weight: bold;
  line-height: 110%;
  font-size: 1.5rem;
}
/* line 80, ../components/sass/_modules.scss */
.storycontainer .story-content {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: #00b59b;
  min-height: 240px;
  padding: 20px 30px;
  padding-top: 10px;
  margin-top: -25px;
  margin-bottom: 40px;
  line-height: 110%;
}
/* line 90, ../components/sass/_modules.scss */
.storycontainer .story-content p {
  color: #703572;
  font-size: 1.2rem;
}
/* line 95, ../components/sass/_modules.scss */
.storycontainer .story-content a {
  color: #00b59b;
  text-decoration: underline;
  font-size: 1rem;
}
/* line 100, ../components/sass/_modules.scss */
.storycontainer .story-content a:hover {
  color: #fff;
}
/* line 105, ../components/sass/_modules.scss */
.storycontainer .story-content img {
  display: block;
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}
@media (min-width: 47em) {
  /* line 61, ../components/sass/_modules.scss */
  .storycontainer {
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
    transition: all 1s ease-in;
    width: 70%;
    margin: auto;
  }
  /* line 118, ../components/sass/_modules.scss */
  .storycontainer img.right {
    float: right;
    margin-left: 20px;
  }
  /* line 123, ../components/sass/_modules.scss */
  .storycontainer img.left {
    float: left;
    margin-right: 20px;
  }
}
@media (min-width: 85em) {
  /* line 61, ../components/sass/_modules.scss */
  .storycontainer {
    width: 60%;
  }
}

/* line 135, ../components/sass/_modules.scss */
.circle {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 140, ../components/sass/_modules.scss */
.roundSquare {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

/* line 145, ../components/sass/_modules.scss */
.arrow {
  width: 15px;
  height: 75px;
  background: #00b59b;
  margin: auto;
}

/* line 155, ../components/sass/_modules.scss */
.contact .contact-form {
  margin: auto;
  justify-content: center;
}
/* line 159, ../components/sass/_modules.scss */
.contact .contact-form p {
  line-height: 130%;
  font-size: .8rem;
}
/* line 164, ../components/sass/_modules.scss */
.contact .contact-form .rectangle {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  width: 100%;
  max-width: 700px;
  line-height: 180%;
  font-size: 1.2rem;
  font-family: Droid Serif, serif;
  padding: 8px 16px;
  margin-top: 10px;
  background: #dc8f02;
  border-style: none;
  color: #703572;
}
/* line 61, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.contact .contact-form .rectangle:-moz-placeholder {
  color: #703572;
}
/* line 64, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.contact .contact-form .rectangle::-moz-placeholder {
  color: #703572;
}
/* line 67, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.contact .contact-form .rectangle:-ms-input-placeholder {
  color: #703572;
}
/* line 56, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.contact .contact-form .rectangle::-webkit-input-placeholder {
  color: #703572;
}
/* line 182, ../components/sass/_modules.scss */
.contact .contact-form #message {
  height: auto;
  min-height: 300px;
}
/* line 187, ../components/sass/_modules.scss */
.contact .contact-form #send {
  width: 40%;
  max-width: 200px;
  float: right;
}
@media (min-width: 47em) {
  /* line 153, ../components/sass/_modules.scss */
  .contact {
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
    transition: all 1s ease-in;
    width: 50%;
    margin: auto;
    justify-content: center;
    vertical-align: middle;
  }
  /* line 201, ../components/sass/_modules.scss */
  .contact .contact-form {
    width: 500px;
    margin: auto;
  }
}
