//Susy setup ------------------------------------
$total-columns        : 12;
$column-width         : 4em;
$gutter-width         : 1em;
$grid-padding         : $gutter-width;

@include border-box-sizing;

$small                : 30em;
$medium               : 47em;
$large                : 85em;



// Content --------------------------------------
.layout {
  @include container;

  .splash-image {
    height: 100%;
    text-align: center;

    a {
      @include border-radius(5px);
      width: 30%;
      max-width: 150px;
      padding: 2.5% 4% 2.5% 4%;
      background: $pantonePurple;
      font-size: 1.2rem;
      color: #fff;

      &:hover {
        background: $pantoneGreen;
        color: #fff;
      } // a:hover
    } // a
  } // splash-image

  .description {
    margin: 50px 0px;
    font-weight: lighter;
    font-style: italic;

    .seen-on{
      display: flex;
      padding-top: 50px;
      padding-bottom: 40px;
      width: 100%;
      max-width: 800px;
      margin: auto;
      justify-content: center;
      align-items: flex-end;
    } // seen-on
  } // description

  .webinar-details {
    margin: 50px 0;
  } // webinar-details

  .webinar-description {
    margin-bottom: 50px;

    h4 {
      color: $pantonePurple;
      font-size: 1.4rem;
      font-weight: lighter;
      line-height: normal;
      padding-bottom: .8rem;
    } // h4

    ul {
      padding-left: 1em;

      li {
        list-style: disc;
        font-size: 1.1rem;
        line-height: 1.2rem;
        padding-bottom: .4rem;

        span {
          position: relative;
          left: -5px;
        } // span
      } // li
    } // ul

    p {
      font-weight: lighter;
    } // p

    a {
      text-decoration: underline;
    }
  } // webinar-description

  .webinar-date-grid {
    justify-content: center;

    .date-group {
      width: 200px;

      .sold-out {
        display: none;
      } // sold-out
    } // date-group
  } // webinar-date-grid
} // layout

// Banner --------------------------------------
.banner {

  display: flex;
  width:100%;
  height: 500px;
  // @include background(image-url('https://placehold.it/300x500');
  // background-repeat: none;
  // background-position: center center;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  // margin: 0 auto;
  background: $placeholder;
  justify-content: center;
  align-items: center;

  @include at-breakpoint($medium) {
    @include single-transition(all, 1s, ease-in);
    width:70%;
    max-width: 1000px;
    margin:auto;
  } // medium
} // banner

// Ready ------------------------
.ready {
  width: 100%;

  img {
    display: block;
    width: 250px;
    margin: auto;
  }

  .story-header {
    @include border-radius(25px);
    background: $pantoneBlue;
    padding: 25px;
    margin-bottom: 10px;
    color: #fff;
    font-weight: bold;
    line-height: 110%;
    font-size: 1.5rem;

    &:hover {
      background: $pantoneGreen;
      color: #fff;
      cursor: pointer;
    } // story-header:hover

    &.active {
      background: $pantoneGreen;
      color: #fff; // white

      &:hover {
        background: $pantoneBlue;
        color: #fff;
        cursor: pointer;
      }
    } // story-header.active
  } // story-header

  .story-content {
    @include single-transition(all, .5s, ease-out);
    @include border-radius(25px);
    display: none;
    min-height: 260px;
    background: $pantoneBlue;
    padding: 20px 30px;
    margin-bottom: 40px;
    line-height: 110%;

    p {
      color: $pantonePurple;
      font-size: 1.2rem;
    } // p

    a {
      color: $pantonePurple;
      text-decoration: underline;
      font-size: 1rem;

      &:hover {
        color: #fff; // white
      } // a:hover
    } // a

    img {
      display: block;
      width: 200px;
      height: auto;
      margin-bottom: 10px;
    } // img

    &.active {
      display: block;
    } // active
  } // story-content

  @include at-breakpoint($medium) {
    @include single-transition(all, 1s, ease-in);
    width: 70%;
    margin: auto;

    img.right {
      float: right;
      margin-left: 20px;
    } // right

    img.left {
      float: left;
      margin-right: 20px;
    } // left

    .story-content {
      padding: 30px 40px;
    }
  } // medium

  @include at-breakpoint($large) {
    width: 100%;

    .story-header {
      @include span-columns(4, 12);
      @include post(8);

      &.active {
        @include post(1);
        margin-bottom: 150px;
      } // story-header.active
    } // story-header

    .story-content {
      @include span-columns(7 omega, 12);
      min-height: 300px;
      padding: 50px 75px;
    } // story-content
  } // large
} // ready

// Webinar Choices --------------------------------------
.webinar-choices {
  @include at-breakpoint($medium) {
    margin: 0 5%;

    .webinar {
      @include span-columns(5);
      height: 350px;
      line-height: 350px;
    } // webinar

    .webinar:nth-of-type(2) {
      @include omega;
    } // webinar:nth-of-type(2)
  } // medium
} // webinar-choices

// Navigation --------------------------------------
.navigation {
  width: 100%;
  height: auto;
  background: $pantoneBlue;
  padding: 15px 0px 15px 0;

  .hero {
    margin-bottom: 2rem;
    @include at-breakpoint($large) {
      @include span-columns(1,3);
    } // large
  } // hero

  ul.nav {
    @include at-breakpoint($small) {
      @include horizontal-list;
      @include single-transition(all, .5s, ease-out);

      li {
          display: block;
          padding-right: .5em;
          padding-left: 0;
          padding-top: .4em;
          padding-bottom: .4em;
          line-height: 180%;
      } // li
    } // small

    @include at-breakpoint($large) {
      float: right;
      @include single-transition(all, 1s, ease-out);
    } // large

    li {
      padding-top: .2em;

      &:nth-of-type(5) {
        padding-right: 0;

        a {
          display: block;
          padding: 0;
          height: 40px !important;

          &:hover {
            @include single-transition(all, 1s, ease-out);
            background-color: transparent;
          } // a:hover
        } // a

        img {
          width: 40px;
          height: 40px;
          padding: 5px;

          &:hover {
            background-color: $pantonePurple;
            @include border-radius(5px);
          } // img:hover
        } // img
      } // li:nth-last-of-type
    } // li

    a {
      padding: 5px 10px;

      &:hover {
        @include border-radius(5px);
        color: #fff;
        background-color: $pantonePurple;
      } // a:hover
    } // a
  } // ul.nav
} // navigation

// Social Media --------------------------------------
.socialmediaicons {

  ul {

    li {
      display: inline-block;
      margin-top: 20px;
      margin-bottom: 20px;

      &:last-child {
        margin-left: 5px;
      } // li:last-child

      img {
        width: 50px;
      } // img
    } // li
  } // ul
} // socialmediaicons

// footer --------------------------------------
footer {
  color: #000;
  background: $pantoneBlue;
  margin-top: 100px;
  padding-top: 20px;
  padding-bottom: 100px;

  @include at-breakpoint($small) {
    @include single-transition(all, .5s, ease-out);

    .copy {
      @include span-columns(8, 12);
    } // copy

    .socialmediaicons {
      display: block;
      @include span-columns(4 omega,12);

      ul {
        float: right;
      } // ul
    } // socialmediaicons
  } // small

  @include at-breakpoint($medium) {
    @include single-transition(all, .5s, ease-out);

    .copy {
      @include span-columns(4, 12);
    } // copy

    .socialmediaicons {
      @include span-columns(4,12);
      ul {
        width: 111px;
        margin: auto;
        float: none;
      } // ul
    } // socialmediaicons

    .paymentmethods {
      @include span-columns(4 omega, 12);
    } // paymentmethods
  } // medium

  .copy {
    font-size: 1rem;
    padding-top: 10px;
    line-height: 130%;
  } // copy

  a:hover {
    color: #fff;
  } // a:hover

  .paymentmethods {
    // @include clearfix;

    ul {
      // @include horizontal-list;
      float: left;

      li {
        display: inline-block;
        padding: 0;
        margin: 0;
        margin-top: 5px;
        margin-right: 5px;

        img {
          width: 50px;
        }

        // &:last-child {
        //   margin-right: 0;
        // } // li:last-child

      } // li
    } // ul
  } // cardgrid
} // footer
