$pantoneBlue      : #00b59b;   // 808c rgb(0, 181, 155)
$pantonePurple    : #703572;  // 520c rgb(112, 53, 114)
$pantoneYellow    : #d88c02;   // 138c rgb(216, 140, 2)
$pantoneGreen     : #60c659;   // 360c rgb(96, 198, 89)
$avaColor         : rgb(166, 178, 200); // 536c
$background       : #fff;               // white
$lightgrey        : #819090;            // light grey
$placeholder      : rgb(200, 200, 200); // off white

$font-primary: Droid Serif, serif;
$font-secondary: Droid Serif, serif;
