#scoreScreen {
    margin: auto;
    text-align: center;
    padding-bottom: 2em;
}

#scoreDescription {
    padding: 1em;
    font-family: 'Proza Libre', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3em;
}

