#startingScreen {
  margin: auto;
  text-align: center;
  padding: 2em;
}

#title {
    font-style: italic;
    font-family: Pacifico, Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 5em;
    padding-bottom: .5em;
}